.projectName input{
    border: 2px solid red;
    width: 100%;
}
.projectName input:focus{
    outline: none;
    border: 2px solid red;
}

.projectDescr input{
    width: 100%;
    height: 150px;
}
.but button{
    margin-top: 50px;
    margin-left: 200px;
}
.custom-select .react-select__control {
    border: 1px solid red;
}